extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box
        h1= project_name 
        p= description

      .project-tech-links-box.box
        h6 Technologies
        ul
          each tech in technologies
            li= tech 
        a.btn-link(href=`${live_link}` target="_blank") Live Demo
        a.btn-link(href=`${github_link}` target="_blank") GitHub Repo

    .project-img-box.box
      img.project-img(src=`${img_urls.main_pic}`, alt='main picture of project')
      img.project-img(src=`${img_urls.large_pic}`, alt='a large picture of project')
      img.project-img(src=`${img_urls.extra_pic}`, alt='extra picture of project')

    nav.nav
      a(href='/')
        span &larr;
        |  Back
